MONGODB_URI=mongodb+srv://saki:IzogizG02A6yNCBW@mern.mhhyfp6.mongodb.net/ilanla?retryWrites=true&w=majority
BRAVE_PATH=/Applications/Brave Browser.app/Contents/MacOS/Brave Browser
PORT=3000
NODE_ENV=development
# Puppeteer settings
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=//Applications/Brave Browser.app/Contents/MacOS/Brave Browser
IMGBB_API_KEY=b42a71b282864543f7f4ebf679020052
GROQ_API_KEY=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
ALLOWED_WA_NUMBER=15994777014504@lid
